<h2> Houses in the Boston Area and Bergen County, NJ! </h2>



<%= form_tag search_houses_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
<p>
  <%= text_field_tag :search, params[:search], class: "form-control" %>
  <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
</p>
<% end %>
