<h1> New Houses </h1>

<% if @houses.errors.any? %>
  <h2> Error! </h2>
  <ul>
  <% @houses.errors.full_messages.each do |error_msg| %>
  <li>
    <%= error_msg %>
  </li>
  <% end %>
  </ul>
<% end %>

<h3> Import Houses </h3>
<%= form_tag import_houses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Houses" %>
  <% end %>
